body {
	margin: 0;
	font-family: roboto, arial, sans-serif;
}

header{
	background-color: #A7A7A7;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
}

h1, h2 {
	text-shadow: 2px 2px darkcyan
}

header h1 {
	color: white;
	font-size: 45px;
	text-shadow: 2px 2px darkcyan;
}

header img {
	border-radius: 50px;
	width: 400px;
	border: 10px solid darkcyan;
}

main {
	text-align: center;
	margin: 50px;
}


main img {
	max-width: 1000px;
	border-radius: 50px;

}

footer {
	text-align: center;
}